<%- include('partials/header.ejs') %>
<section class="xs-banner service-banner contet-to-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="xs-banner-content">
                    <h1 class="banner-sub-title wow fadeInLeft">Bize Ulaş</h1>
                    <h2 class="banner-title wow fadeInLeft" data-wow-duration="1.5s">İletişime geç</h2>
                    <ul class="breadcrumbs list-inline wow fadeInLeft" data-wow-duration="2s">
                        <li><a href="/">Ana Sayfa</a></li>
                        <li>İletişim</li>
                    </ul>
                    <p class="wow fadeInUp" data-wow-duration="1.5s"></p>
                </div><!-- .xs-banner-content END -->
            </div>
            <div class="col-md-6">
                <div class="inner-welcome-image-group">
                    <img src="wp-content/uploads/2018/07/contact-bg.png" alt="Welcome banner image">
                    <img src="wp-content/uploads/2018/07/phone-1.png" class="banner-ico banner-ico-1"
                        alt="banner icon"><img src="../wp-content/uploads/2018/07/plane.png"
                        class="banner-ico banner-ico-2" alt="banner icon"> </div>
            </div>
        </div><!-- .row END -->
    </div><!-- .container END -->
</section>
<div class="page" role="main">
    <div class="builder-content">
        <!-- full-width-content -->
        <div id="post-697" class="full-width-content post-697 page type-page status-publish hentry">
            <div class="elementor elementor-697">
                <div class="elementor-inner">
                    <div class="elementor-section-wrap">
                        <section data-id="69c8d6b"
                            class="elementor-element elementor-element-69c8d6b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                            data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div data-id="9f6dce3"
                                        class="elementor-element elementor-element-9f6dce3 elementor-column elementor-col-100 elementor-top-column"
                                        data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div data-id="cbc49ec"
                                                    class="elementor-element elementor-element-cbc49ec elementor-widget elementor-widget-xs-heading"
                                                    data-element_type="xs-heading.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="xs-heading">
                                                            <h3 class="heading-sub-title">Bize Ulaş</h3>
                                                            <h2 class="heading-title">ILETISIME <span>GEÇ</span></h2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <section data-id="c24cfda"
                                                    class="elementor-element elementor-element-c24cfda elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
                                                    data-element_type="section">
                                                    <div class="elementor-container elementor-column-gap-default">
                                                        <div class="elementor-row">
                                                            <div data-id="107ac5a"
                                                                class="elementor-element elementor-element-107ac5a elementor-column elementor-col-33 elementor-inner-column"
                                                                data-element_type="column">
                                                                <div
                                                                    class="elementor-column-wrap elementor-element-populated">
                                                                    <div class="elementor-widget-wrap">
                                                                        <div data-id="b3d2d3e"
                                                                            class="elementor-element elementor-element-b3d2d3e elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box"
                                                                            data-element_type="image-box.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div
                                                                                    class="elementor-image-box-wrapper">
                                                                                    <figure
                                                                                        class="elementor-image-box-img">
                                                                                        <img width="109" height="109"
                                                                                            src="../wp-content/uploads/2018/07/contact-info-icon-1.png"
                                                                                            class="attachment-full size-full"
                                                                                            alt="" /></figure>
                                                                                    <div
                                                                                        class="elementor-image-box-content">
                                                                                        <h3
                                                                                            class="elementor-image-box-title">
                                                                                            Adres</h3>
                                                                                        <p
                                                                                            class="elementor-image-box-description">
                                                                                            <%- contact[0].adres %><br>
                                                                                            Türkiye</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div data-id="7f2af97"
                                                                class="elementor-element elementor-element-7f2af97 elementor-column elementor-col-33 elementor-inner-column"
                                                                data-element_type="column">
                                                                <div
                                                                    class="elementor-column-wrap elementor-element-populated">
                                                                    <div class="elementor-widget-wrap">
                                                                        <div data-id="3ba09af"
                                                                            class="elementor-element elementor-element-3ba09af elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box"
                                                                            data-element_type="image-box.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div
                                                                                    class="elementor-image-box-wrapper">
                                                                                    <figure
                                                                                        class="elementor-image-box-img">
                                                                                        <img width="109" height="109"
                                                                                            src="../wp-content/uploads/2018/07/contact-info-icon-1.png"
                                                                                            class="attachment-full size-full"
                                                                                            alt="" /></figure>
                                                                                    <div
                                                                                        class="elementor-image-box-content">
                                                                                        <h3
                                                                                            class="elementor-image-box-title">
                                                                                            Arayın ve Mesaj Atın</h3>
                                                                                        <p
                                                                                            class="elementor-image-box-description">
                                                                                            <b>
                                                                                                <%- contact[0].phone %></b>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div data-id="f454346"
                                                                class="elementor-element elementor-element-f454346 elementor-column elementor-col-33 elementor-inner-column"
                                                                data-element_type="column">
                                                                <div
                                                                    class="elementor-column-wrap elementor-element-populated">
                                                                    <div class="elementor-widget-wrap">
                                                                        <div data-id="c87e869"
                                                                            class="elementor-element elementor-element-c87e869 elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box"
                                                                            data-element_type="image-box.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div
                                                                                    class="elementor-image-box-wrapper">
                                                                                    <figure
                                                                                        class="elementor-image-box-img">
                                                                                        <img width="109" height="109"
                                                                                            src="../wp-content/uploads/2018/07/contact-info-icon-1.png"
                                                                                            class="attachment-full size-full"
                                                                                            alt="" /></figure>
                                                                                    <div
                                                                                        class="elementor-image-box-content">
                                                                                        <h3
                                                                                            class="elementor-image-box-title">
                                                                                            MAIL
                                                                                        </h3>
                                                                                        <p
                                                                                            class="elementor-image-box-description">

                                                                                            <b><%- contact[0].email %></b>
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section data-id="f8fdb54"
                            class="elementor-element elementor-element-f8fdb54 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}"
                            data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div data-id="510290d"
                                        class="elementor-element elementor-element-510290d elementor-column elementor-col-33 elementor-top-column"
                                        data-element_type="column">
                                        <div class="elementor-column-wrap">
                                            <div class="elementor-widget-wrap">
                                            </div>
                                        </div>
                                    </div>
                                    <div data-id="9294d5e"
                                        class="elementor-element elementor-element-9294d5e elementor-column elementor-col-33 elementor-top-column"
                                        data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div data-id="95056bf"
                                                    class="elementor-element elementor-element-95056bf elementor-widget elementor-widget-xs-heading"
                                                    data-element_type="xs-heading.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="xs-heading">
                                                            <h3 class="heading-sub-title">Soru sormak ister misin?</h3>
                                                            <h2 class="heading-title">MESAJ <span>YOLLA</span></h2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-id="9244881"
                                                    class="elementor-element elementor-element-9244881 elementor-widget elementor-widget-shortcode"
                                                    data-element_type="shortcode.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-shortcode">
                                                            <div role="form" class="wpcf7" id="wpcf7-f5-p697-o1"
                                                                lang="en-US" dir="ltr">
                                                                <div class="screen-reader-response"></div>
                                                                <form
                                                                    action="https://wp.xpeedstudio.com/hostinza/contact/#wpcf7-f5-p697-o1"
                                                                    method="post" class="wpcf7-form"
                                                                    novalidate="novalidate">
                                                                    <div style="display: none;">
                                                                        <input type="hidden" name="_wpcf7" value="5" />
                                                                        <input type="hidden" name="_wpcf7_version"
                                                                            value="5.0.4" />
                                                                        <input type="hidden" name="_wpcf7_locale"
                                                                            value="en_US" />
                                                                        <input type="hidden" name="_wpcf7_unit_tag"
                                                                            value="wpcf7-f5-p697-o1" />
                                                                        <input type="hidden"
                                                                            name="_wpcf7_container_post" value="697" />
                                                                    </div>
                                                                    <div id="xs-contact-form" class="xs-form">
                                                                        <div class="form-group">
                                                                            <span
                                                                                class="wpcf7-form-control-wrap text-name"><input
                                                                                    type="text" name="text-name"
                                                                                    value="" size="40"
                                                                                    class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control"
                                                                                    id="xs_contact_name"
                                                                                    aria-required="true"
                                                                                    aria-invalid="false"
                                                                                    placeholder="İsim" /></span><br />
                                                                            <span
                                                                                class="wpcf7-form-control-wrap your-email"><input
                                                                                    type="email" name="your-email"
                                                                                    value="" size="40"
                                                                                    class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control"
                                                                                    id="xs_contact_email"
                                                                                    aria-required="true"
                                                                                    aria-invalid="false"
                                                                                    placeholder="ornek@gmail.com" /></span><br />

                                                                            <textarea name="textarea-massage" cols="40"
                                                                                rows="10"
                                                                                class="wpcf7-form-control wpcf7-textarea form-control"
                                                                                id="x_contact_massage"
                                                                                aria-invalid="false"
                                                                                placeholder="Soru"></textarea></span>
                                                                        </div>
                                                                        <div class="xs-btn-wraper">
                                                                            <input type="submit" value="GÖNDER"
                                                                                class="wpcf7-form-control wpcf7-submit btn btn-primary"
                                                                                id="xs_contact_submit" />
                                                                        </div>
                                                                    </div>
                                                                    <div
                                                                        class="wpcf7-response-output wpcf7-display-none">
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-id="373c595"
                                        class="elementor-element elementor-element-373c595 elementor-column elementor-col-33 elementor-top-column"
                                        data-element_type="column">
                                        <div class="elementor-column-wrap">
                                            <div class="elementor-widget-wrap">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section data-id="882993f"
                            class="elementor-element elementor-element-882993f elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                            data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div data-id="729e7ab"
                                        class="elementor-element elementor-element-729e7ab elementor-column elementor-col-100 elementor-top-column"
                                        data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div data-id="78f6cf7"
                                                    class="elementor-element elementor-element-78f6cf7 elementor-widget elementor-widget-google_maps"
                                                    data-element_type="google_maps.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-custom-embed"><iframe frameborder="0"
                                                                scrolling="no" marginheight="0" marginwidth="0"
                                                                src="https://maps.google.com/maps?q=London%20Eye%2C%20London%2C%20United%20Kingdom&amp;t=m&amp;z=15&amp;output=embed&amp;iwloc=near"
                                                                aria-label="London Eye, London, United Kingdom"></iframe>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section data-id="1a06f80"
                            class="elementor-element elementor-element-1a06f80 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
                            data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div data-id="ed702c8"
                                        class="elementor-element elementor-element-ed702c8 elementor-column elementor-col-50 elementor-inner-column"
                                        data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div data-id="ce0a28a"
                                                    class="elementor-element elementor-element-ce0a28a elementor-widget elementor-widget-xs-call-to-action-box"
                                                    data-element_type="xs-call-to-action-box.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="xs-feature-group">
                                                            <div class="media">
                                                                <div class="feature-img d-flex">
                                                                    <img width="122" height="138"
                                                                        src="../wp-content/uploads/2018/07/sheild-2.png"
                                                                        class="attachment-full size-full" alt="" />
                                                                </div>
                                                                <div class="media-body feature-content">
                                                                    <h4 class="xs-title">Days money back guarantee</h4>
                                                                    <p>Share processes an data secure lona need to know
                                                                        basis without the need.</p>
                                                                    <div class="xs-btn-wraper">
                                                                        <a href="#" class="btn btn-secondary">Know
                                                                            More</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <span class="icon icon-dollar watermark-icon"></span>
                                                        </div><!-- .xs-feature-group END -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-id="6b8ac10"
                                        class="elementor-element elementor-element-6b8ac10 elementor-column elementor-col-50 elementor-inner-column"
                                        data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div data-id="0288dec"
                                                    class="elementor-element elementor-element-0288dec elementor-widget elementor-widget-xs-call-to-action-box"
                                                    data-element_type="xs-call-to-action-box.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="xs-feature-group">
                                                            <div class="media">
                                                                <div class="feature-img d-flex">
                                                                    <img width="129" height="138"
                                                                        src="../wp-content/uploads/2018/07/cloud-lock-2.png"
                                                                        class="attachment-full size-full" alt="" />
                                                                </div>
                                                                <div class="media-body feature-content">
                                                                    <h4 class="xs-title">Build and protect your brand
                                                                    </h4>
                                                                    <p>Share processes an data secure lona need to know
                                                                        basis without the need.</p>
                                                                    <div class="xs-btn-wraper">
                                                                        <a href="#" class="btn btn-secondary">Know
                                                                            More</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <span class="icon icon-dollar watermark-icon"></span>
                                                        </div><!-- .xs-feature-group END -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section data-id="7a7de5c"
                            class="elementor-element elementor-element-7a7de5c elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}"
                            data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div data-id="122d56f"
                                        class="elementor-element elementor-element-122d56f elementor-column elementor-col-100 elementor-top-column"
                                        data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div data-id="4370167"
                                                    class="elementor-element elementor-element-4370167 elementor-widget elementor-widget-spacer"
                                                    data-element_type="spacer.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-spacer">
                                                            <div class="elementor-spacer-inner"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div> <!-- end full-width-content -->
    </div> <!-- end main-content -->

</div> <!-- end main-content -->
<%- include('partials/footer.ejs') %>