<%- include('partials/header.ejs') %>

<div class="elementor elementor-143">
  <div class="elementor-inner">
    <div class="elementor-section-wrap">
      <section data-id="2df5098"
        class="elementor-element elementor-element-2df5098 elementor-section-height-min-height elementor-section-items-top banner-v6 elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section"
        data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-row">
            <div data-id="aab06df"
              class="elementor-element elementor-element-aab06df elementor-column elementor-col-50 elementor-top-column"
              data-element_type="column">
              <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                  <div data-id="6ba05bf"
                    class="elementor-element elementor-element-6ba05bf elementor-widget elementor-widget-heading"
                    data-element_type="heading.default">
                    <div class="elementor-widget-container">
                      <h2 class="elementor-heading-title elementor-size-default">Sağlam Kadrosuyla</h2>
                    </div>
                  </div>
                  <div data-id="29feeed"
                    class="elementor-element elementor-element-29feeed elementor-widget elementor-widget-heading"
                    data-element_type="heading.default">
                    <div class="elementor-widget-container">
                      <h2 class="elementor-heading-title elementor-size-default">Letkom Telekom Hizmetinizde...</h2>
                    </div>
                  </div>
                  <section data-id="fbb479b"
                    class="elementor-element elementor-element-fbb479b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
                    data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                      <div class="elementor-row">
                        <div data-id="f46819c"
                          class="elementor-element elementor-element-f46819c elementor-column elementor-col-50 elementor-inner-column"
                          data-element_type="column">
                          <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                              <div data-id="fe36a5f"
                                class="elementor-element elementor-element-fe36a5f elementor-align-left elementor-widget elementor-widget-icon-list"
                                data-element_type="icon-list.default">
                                <div class="elementor-widget-container">
                                  <ul class="elementor-icon-list-items">
                                    <li class="elementor-icon-list-item">
                                      <span class="elementor-icon-list-icon">
                                        <i class="fa fa-circle-o" aria-hidden="true"></i>
                                      </span>
                                      <span class="elementor-icon-list-text"><%- topics[0].name %></span>
                                    </li>
                                    <li class="elementor-icon-list-item">
                                      <span class="elementor-icon-list-icon">
                                        <i class="fa fa-circle-o" aria-hidden="true"></i>
                                      </span>
                                      <span class="elementor-icon-list-text"><%- topics[1].name %></span>
                                    </li>
                                    <li class="elementor-icon-list-item">
                                      <span class="elementor-icon-list-icon">
                                        <i class="fa fa-circle-o" aria-hidden="true"></i>
                                      </span>
                                      <span class="elementor-icon-list-text"><%- topics[2].name %></span>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div data-id="eb06fc4"
                          class="elementor-element elementor-element-eb06fc4 elementor-column elementor-col-50 elementor-inner-column"
                          data-element_type="column">
                          <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                              <div data-id="bca670a"
                                class="elementor-element elementor-element-bca670a elementor-align-left elementor-widget elementor-widget-icon-list"
                                data-element_type="icon-list.default">
                                <div class="elementor-widget-container">
                                  <ul class="elementor-icon-list-items">
                                    <li class="elementor-icon-list-item">
                                      <span class="elementor-icon-list-icon">
                                        <i class="fa fa-circle-o" aria-hidden="true"></i>
                                      </span>
                                      <span class="elementor-icon-list-text"><%- topics[3].name %></span>
                                    </li>
                                    <li class="elementor-icon-list-item">
                                      <span class="elementor-icon-list-icon">
                                        <i class="fa fa-circle-o" aria-hidden="true"></i>
                                      </span>
                                      <span class="elementor-icon-list-text"><%- topics[4].name %></span>
                                    </li>
                                    <li class="elementor-icon-list-item">
                                      <span class="elementor-icon-list-icon">
                                        <i class="fa fa-circle-o" aria-hidden="true"></i>
                                      </span>
                                      <span class="elementor-icon-list-text"><%- topics[5].name %></span>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <div data-id="2b04fe5"
                    class="elementor-element elementor-element-2b04fe5 elementor-align-left elementor-widget elementor-widget-xs-button"
                    data-element_type="xs-button.default">
                    <div class="elementor-widget-container">
                      <a href="#" target="_self" class="xs-btn btn btn-primary">
                        <span class="xs-button-icon xs-align-icon-right"><i class="fa fa-long-arrow-right"
                            aria-hidden="true"></i></span>
                        <span class="xs-button-text">Ürünleri İncele</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-id="24e4094"
              class="elementor-element elementor-element-24e4094 elementor-column elementor-col-50 elementor-top-column"
              data-element_type="column">
              <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                  <div data-id="2e585e7"
                    class="elementor-element elementor-element-2e585e7 elementor-widget elementor-widget-image"
                    data-element_type="image.default">
                    <div class="elementor-widget-container">
                      <div class="elementor-image">
                        <img width="744" height="914" src="wp-content/uploads/2018/10/welcome-seven-banner-21.png"
                          class="attachment-full size-full" alt=""
                          srcset="wp-content/uploads/2018/10/welcome-seven-banner-21.png 744w, https://wp.xpeedstudio.com/hostinza-v2/wp-content/uploads/2018/10/welcome-seven-banner-21-244x300.png 244w"
                          sizes="(max-width: 744px) 100vw, 744px" /> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section data-id="5b18943"
        class="elementor-element elementor-element-5b18943 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
        data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-row">
            <div data-id="7ad41ff"
              class="elementor-element elementor-element-7ad41ff elementor-column elementor-col-100 elementor-top-column"
              data-element_type="column">
              <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                  <div data-id="f989fed"
                    class="elementor-element elementor-element-f989fed elementor-widget elementor-widget-xs-heading"
                    data-element_type="xs-heading.default">
                    <div class="elementor-widget-container">
                      <div class="xs-heading">
                        <h3 class="heading-sub-title">Ödeme Planları</h3>
                        <h2 class="heading-title">En Çok<span> SATILANLAR</span></h2>
                      </div>
                    </div>
                  </div>
                  <div data-id="5631cc6"
                    class="elementor-element elementor-element-5631cc6 elementor-widget elementor-widget-xs-price"
                    data-element_type="xs-price.default">
                    <div class="elementor-widget-container">
                      <div class="xs-pricing-group">
                        <ul class="nav nav-tabs main-nav-tab tab-swipe" role="tablist">
                          <li>
                            <a id="monthly-tab" class="active show" data-toggle="tab" href="#monthly">Yıllık</a>
                          </li>
                          <li>
                            <a id="yearly-tab" data-toggle="tab" href="#yearly">2 Yıllık</a>
                          </li>
                        </ul>
                        <div class="tab-content">
                          <div class="tab-pane fadeIn animated show active" id="monthly">
                            <div class="row">
                              <div class="grid col-lg-4 col-md-6">
                                <div class="xs-single-pricing ">
                                  <div class="pricing-header">
                                    <div class="pricing-img-block">
                                      <img src="wp-content/uploads/2018/10/pricing-11.png" alt="">
                                    </div>
                                    <h4 class="xs-title">Web Hizmetleri</h4>
                                  </div><!-- .pricing-header END -->

                                  <div class="pricing-body">
                                    <p>Yüksek kalitede yönetim panelleri web tasarımları ve kurulumu
                                    </p>

                                    <div class="pricing-price">
                                      <p>Başlayan Fiyatlarla</p>
                                      <h2>
                                        <sup>TL</sup>499.99 </h2>

                                      <h6 class="discount-price"></h6>
                                    </div>
                                  </div><!-- .pricing-body END -->
                                  <div class="pricing-footer">
                                    <a href="#" target="_self" class="btn btn-primary">İncele</a>
                                  </div><!-- .pricing-footer END -->
                                </div><!-- .xs-single-pricing END -->
                              </div>
                              <div class="grid col-lg-4 col-md-6">
                                <div class="xs-single-pricing active">
                                  <div class="pricing-header">
                                    <div class="pricing-img-block">
                                      <img src="wp-content/uploads/2018/10/pricing-21.png" alt="">
                                    </div>
                                    <h4 class="xs-title">Kamera ve Bilgisayar Sistemleri</h4>
                                  </div><!-- .pricing-header END -->

                                  <div class="pricing-body">
                                    <p>HD Kamera kurulumu ve Network Çözümleri
                                    </p>

                                    <div class="pricing-price">
                                      <p>Başlayan Fiyatlarla</p>
                                      <h2>
                                        <sup>TL</sup>799.99 </h2>

                                      <h6 class="discount-price"></h6>
                                    </div>
                                  </div><!-- .pricing-body END -->
                                  <div class="pricing-footer">
                                    <a href="#" target="_self" class="btn btn-primary">İncele</a>
                                  </div><!-- .pricing-footer END -->
                                </div><!-- .xs-single-pricing END -->
                              </div>
                              <div class="grid col-lg-4 col-md-6">
                                <div class="xs-single-pricing ">
                                  <div class="pricing-header">
                                    <div class="pricing-img-block">
                                      <img src="wp-content/uploads/2018/10/pricing-31.png" alt="">
                                    </div>
                                    <h4 class="xs-title">Alarm Sistemleri</h4>
                                  </div><!-- .pricing-header END -->

                                  <div class="pricing-body">
                                    <p>Yüksek güvenirliklik ile evinizi işler yerlerinizi koruyun
                                    </p>

                                    <div class="pricing-price">
                                      <p>Başlayan fiyatlarla</p>
                                      <h2>
                                        <sup>TL</sup>499.99 </h2>

                                      <h6 class="discount-price"></h6>
                                    </div>
                                  </div><!-- .pricing-body END -->
                                  <div class="pricing-footer">
                                    <a href="#" target="_self" class="btn btn-primary">İncele</a>
                                  </div><!-- .pricing-footer END -->
                                </div><!-- .xs-single-pricing END -->
                              </div>
                            </div>
                          </div>
                          <div class="tab-pane fadeIn animated" id="yearly">
                            <div class="row">
                              <div class="grid col-lg-4 col-md-6">
                                <div class="xs-single-pricing ">
                                  <div class="pricing-header">
                                    <div class="pricing-img-block">
                                      <img src="wp-content/uploads/2018/10/pricing-11.png" alt="">
                                    </div>
                                    <h4 class="xs-title">Cloud Hosting</h4>
                                  </div><!-- .pricing-header END -->

                                  <div class="pricing-body">
                                    <p>Alarm ve Diafon Sistemleri
                                    </p>

                                    <div class="pricing-price">
                                      <p>Başlayan Fiyatlarla</p>
                                      <h2>
                                        <sup>$</sup>29.99 </h2>

                                      <h6 class="discount-price"></h6>
                                    </div>
                                  </div><!-- .pricing-body END -->
                                  <div class="pricing-footer">
                                    <a href="#" target="_self" class="btn btn-primary">İncele</a>
                                  </div><!-- .pricing-footer END -->
                                </div><!-- .xs-single-pricing END -->
                              </div>
                              <div class="grid col-lg-4 col-md-6">
                                <div class="xs-single-pricing active">
                                  <div class="pricing-header">
                                    <div class="pricing-img-block">
                                      <img src="wp-content/uploads/2018/10/pricing-21.png" alt="">
                                    </div>
                                    <h4 class="xs-title">VPS Hosting</h4>
                                  </div><!-- .pricing-header END -->

                                  <div class="pricing-body">
                                    <p>The High performance cloud platform ever
                                    </p>

                                    <div class="pricing-price">
                                      <p>Starting at</p>
                                      <h2>
                                        <sup>$</sup>29.99 </h2>

                                      <h6 class="discount-price"></h6>
                                    </div>
                                  </div><!-- .pricing-body END -->
                                  <div class="pricing-footer">
                                    <a href="#" target="_self" class="btn btn-primary">Buy Now</a>
                                  </div><!-- .pricing-footer END -->
                                </div><!-- .xs-single-pricing END -->
                              </div>
                              <div class="grid col-lg-4 col-md-6">
                                <div class="xs-single-pricing ">
                                  <div class="pricing-header">
                                    <div class="pricing-img-block">
                                      <img src="wp-content/uploads/2018/10/pricing-31.png" alt="">
                                    </div>
                                    <h4 class="xs-title">Dedicated Hosting</h4>
                                  </div><!-- .pricing-header END -->

                                  <div class="pricing-body">
                                    <p>The High performance cloud platform ever
                                    </p>

                                    <div class="pricing-price">
                                      <p>Starting at</p>
                                      <h2>
                                        <sup>$</sup>29.99 </h2>

                                      <h6 class="discount-price"></h6>
                                    </div>
                                  </div><!-- .pricing-body END -->
                                  <div class="pricing-footer">
                                    <a href="#" target="_self" class="btn btn-primary">Buy Now</a>
                                  </div><!-- .pricing-footer END -->
                                </div><!-- .xs-single-pricing END -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div data-id="2f743b2"
                    class="elementor-element elementor-element-2f743b2 elementor-widget elementor-widget-heading"
                    data-element_type="heading.default">
                    <div class="elementor-widget-container">
                      <h5 class="elementor-heading-title elementor-size-default">
                        Detayları görmek ve
                        daha fazla bilgi almak icin <a href="../hostinza/pricing/index.html">tıklayın</a></h5>
                    </div>
                  </div>
                  <div data-id="677de54"
                    class="elementor-element elementor-element-677de54 elementor-align-center elementor-widget elementor-widget-icon-list"
                    data-element_type="icon-list.default">
                    <div class="elementor-widget-container">
                      <ul class="elementor-icon-list-items elementor-inline-items">
                        <li class="elementor-icon-list-item">
                          <span class="elementor-icon-list-icon">
                            <i class="icon icon-back_up" aria-hidden="true"></i>
                          </span>
                          <span class="elementor-icon-list-text">Günlük Bakım</span>
                        </li>
                        <li class="elementor-icon-list-item">
                          <span class="elementor-icon-list-icon">
                            <i class="icon icon-migration" aria-hidden="true"></i>
                          </span>
                          <span class="elementor-icon-list-text">Ücretsiz Kesif</span>
                        </li>
                        <li class="elementor-icon-list-item">
                          <span class="elementor-icon-list-icon">
                            <i class="icon icon-checkmark" aria-hidden="true"></i>
                          </span>
                          <span class="elementor-icon-list-text">%100 Güven</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section data-id="6742fb0"
        class="elementor-element elementor-element-6742fb0 cta-2 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
        data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" data-element_type="section">
        <div class="elementor-background-overlay"></div>
        <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-row">
            <div data-id="3da8089"
              class="elementor-element elementor-element-3da8089 elementor-column elementor-col-100 elementor-top-column"
              data-element_type="column">
              <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                  <section data-id="99f9597"
                    class="elementor-element elementor-element-99f9597 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" data-element_type="section">
                    <div class="elementor-background-overlay"></div>
                    <div class="elementor-container elementor-column-gap-default">
                      <div class="elementor-row">
                        <div data-id="1e83767"
                          class="elementor-element elementor-element-1e83767 elementor-column elementor-col-33 elementor-inner-column"
                          data-element_type="column">
                          <div class="elementor-column-wrap">
                            <div class="elementor-widget-wrap">
                            </div>
                          </div>
                        </div>
                        <div data-id="7397282"
                          class="elementor-element elementor-element-7397282 elementor-column elementor-col-33 elementor-inner-column"
                          data-element_type="column">
                          <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                              <div data-id="d121f90"
                                class="elementor-element elementor-element-d121f90 elementor-widget elementor-widget-heading"
                                data-element_type="heading.default">
                                <div class="elementor-widget-container">
                                  <h2 class="elementor-heading-title elementor-size-default">
                                    Her zaman en iyisini yapıyoruz
                                  </h2>
                                </div>
                              </div>
                              <div data-id="35fe9ac"
                                class="elementor-element elementor-element-35fe9ac elementor-widget elementor-widget-xs-button"
                                data-element_type="xs-button.default">
                                <div class="elementor-widget-container">
                                  <a href="#" target="_self" class="xs-btn btn btn-primary">
                                    <span class="xs-button-icon xs-align-icon-left"><i class=""
                                        aria-hidden="true"></i></span>
                                    <span class="xs-button-text">REFERANSLAR
                                    </span>
                                  </a>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                        <div data-id="0b96f32"
                          class="elementor-element elementor-element-0b96f32 elementor-column elementor-col-33 elementor-inner-column"
                          data-element_type="column">
                          <div class="elementor-column-wrap">
                            <div class="elementor-widget-wrap">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section data-id="9159225"
        class="elementor-element elementor-element-9159225 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
        data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}" data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-row">
            <div data-id="e577e1d"
              class="elementor-element elementor-element-e577e1d elementor-column elementor-col-100 elementor-top-column"
              data-element_type="column">
              <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                  <section data-id="2e1f0c8"
                    class="elementor-element elementor-element-2e1f0c8 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
                    data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                      <div class="elementor-row">
                        <div data-id="c877ee6"
                          class="elementor-element elementor-element-c877ee6 elementor-column elementor-col-33 elementor-inner-column"
                          data-element_type="column">
                          <div class="elementor-column-wrap">
                            <div class="elementor-widget-wrap">
                            </div>
                          </div>
                        </div>
                        <div data-id="f157559"
                          class="elementor-element elementor-element-f157559 elementor-column elementor-col-33 elementor-inner-column"
                          data-element_type="column">
                          <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                              <div data-id="a909b34"
                                class="elementor-element elementor-element-a909b34 elementor-widget elementor-widget-xs-heading"
                                data-element_type="xs-heading.default">
                                <div class="elementor-widget-container">
                                  <div class="xs-heading">
                                    <h2 class="heading-title">Çalısma ortamınızı hizmetlerimiz ile
                                      <span>ETKILI</span> ve <span>GÜVENLI</span> hale getirin
                                    </h2>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div data-id="94470e3"
                          class="elementor-element elementor-element-94470e3 elementor-column elementor-col-33 elementor-inner-column"
                          data-element_type="column">
                          <div class="elementor-column-wrap">
                            <div class="elementor-widget-wrap">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section data-id="816d6a1"
                    class="elementor-element elementor-element-816d6a1 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
                    data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                      <div class="elementor-row">
                        <div data-id="a4dcb0a"
                          class="elementor-element elementor-element-a4dcb0a elementor-column elementor-col-33 elementor-inner-column"
                          data-element_type="column">
                          <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                              <div data-id="5a4daf0"
                                class="elementor-element elementor-element-5a4daf0 elementor-widget elementor-widget-xs-icon-box"
                                data-element_type="xs-icon-box.default">
                                <div class="elementor-widget-container">


                                  <div class="xs-service-block">
                                    <div class="service-img">
                                      <i class="icon icon-cloud"></i>
                                    </div>
                                    <h4 class="xs-title"><a href="#"></a></h4>
                                    <p>Far far away, behind the word mountains,
                                      far from the countries Vokalia and
                                      Consonantia</p>
                                    <a href="#" class="simple-btn">Read More</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div data-id="8dccca6"
                          class="elementor-element elementor-element-8dccca6 elementor-column elementor-col-33 elementor-inner-column"
                          data-element_type="column">
                          <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                              <div data-id="cdb03ab"
                                class="elementor-element elementor-element-cdb03ab elementor-widget elementor-widget-xs-icon-box"
                                data-element_type="xs-icon-box.default">
                                <div class="elementor-widget-container">


                                  <div class="xs-service-block">
                                    <div class="service-img">
                                      <i class="icon icon-email"></i>
                                    </div>
                                    <h4 class="xs-title"><a href="#">Email
                                        Forwarding</a></h4>
                                    <p>Far far away, behind the word mountains,
                                      far from the countries Vokalia and
                                      Consonantia</p>
                                    <a href="#" class="simple-btn">Read More</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div data-id="2058280"
                          class="elementor-element elementor-element-2058280 elementor-column elementor-col-33 elementor-inner-column"
                          data-element_type="column">
                          <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                              <div data-id="8773808"
                                class="elementor-element elementor-element-8773808 elementor-widget elementor-widget-xs-icon-box"
                                data-element_type="xs-icon-box.default">
                                <div class="elementor-widget-container">


                                  <div class="xs-service-block">
                                    <div class="service-img">
                                      <i class="icon icon-dns"></i>
                                    </div>
                                    <h4 class="xs-title"><a href="#">Advance
                                        DNS</a></h4>
                                    <p>Far far away, behind the word mountains,
                                      far from the countries Vokalia and
                                      Consonantia</p>
                                    <a href="#" class="simple-btn">Read More</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section data-id="5fef29d"
                    class="elementor-element elementor-element-5fef29d elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
                    data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                      <div class="elementor-row">
                        <div data-id="6b90765"
                          class="elementor-element elementor-element-6b90765 elementor-column elementor-col-33 elementor-inner-column"
                          data-element_type="column">
                          <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                              <div data-id="9e17213"
                                class="elementor-element elementor-element-9e17213 elementor-widget elementor-widget-xs-icon-box"
                                data-element_type="xs-icon-box.default">
                                <div class="elementor-widget-container">


                                  <div class="xs-service-block">
                                    <div class="service-img">
                                      <i class="icon icon-com"></i>
                                    </div>
                                    <h4 class="xs-title"><a href="#">99.9%
                                        Güvenlik</a></h4>
                                    <p>Web siteleriniz <span style="color: blue;">siber güvenlik uzmanlarımız</span>
                                      tarafından test edilir.</p>
                                    <a href="#" class="simple-btn">Devamını Oku</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div data-id="0b7fdc5"
                          class="elementor-element elementor-element-0b7fdc5 elementor-column elementor-col-33 elementor-inner-column"
                          data-element_type="column">
                          <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                              <div data-id="12dceab"
                                class="elementor-element elementor-element-12dceab elementor-widget elementor-widget-xs-icon-box"
                                data-element_type="xs-icon-box.default">
                                <div class="elementor-widget-container">


                                  <div class="xs-service-block">
                                    <div class="service-img">
                                      <i class="icon icon-support"></i>
                                    </div>
                                    <h4 class="xs-title"><a href="#">Email
                                        Forwarding</a></h4>
                                    <p>Far far away, behind the word mountains,
                                      far from the countries Vokalia and
                                      Consonantia</p>
                                    <a href="#" class="simple-btn">Read More</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div data-id="0e70741"
                          class="elementor-element elementor-element-0e70741 elementor-column elementor-col-33 elementor-inner-column"
                          data-element_type="column">
                          <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                              <div data-id="e30cfe2"
                                class="elementor-element elementor-element-e30cfe2 elementor-widget elementor-widget-xs-icon-box"
                                data-element_type="xs-icon-box.default">
                                <div class="elementor-widget-container">


                                  <div class="xs-service-block">
                                    <div class="service-img">
                                      <i class="icon icon-dns"></i>
                                    </div>
                                    <h4 class="xs-title"><a href="#">Advance
                                        DNS</a></h4>
                                    <p>Far far away, behind the word mountains,
                                      far from the countries Vokalia and
                                      Consonantia</p>
                                    <a href="#" class="simple-btn">Read More</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section data-id="d0372f3"
        class="elementor-element elementor-element-d0372f3 elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
        data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-row">
            <div data-id="bf55536"
              class="elementor-element elementor-element-bf55536 elementor-column elementor-col-100 elementor-top-column"
              data-element_type="column">
              <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                  <div data-id="38eee07"
                    class="elementor-element elementor-element-38eee07 elementor-widget elementor-widget-xs-testimonial"
                    data-element_type="xs-testimonial.default">
                    <div class="elementor-widget-container">

                      <div class="xs-testimonial-slider-2 testimonial-slider owl-carousel">
                        <div class="xs-testimonial-item">
                          <div class="testimonial-content">
                            <p>Our best-in-class WordPress solution with additio nal
                              optiz ation to make an running a WooCommerce</p>
                            <div class="commentor-bio media">
                              <div class="d-flex round-avatar">
                                <img src="wp-content/uploads/2018/10/team-1-55x55.jpg" alt="team-1" class="img-fluid">
                              </div>
                              <div class="media-body align-self-center">
                                <h4 class="commentor-title">Cecilia H King</h4>
                                <p class="commentor-info">CEO, Pranklin Agency</p>
                                <i class="icon icon-quote"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Testimonial Content End -->
                        <div class="xs-testimonial-item">
                          <div class="testimonial-content">
                            <p>Our best-in-class WordPress solution with additio nal
                              optiz ation to make an running a WooCommerce</p>
                            <div class="commentor-bio media">
                              <div class="d-flex round-avatar">
                                <img src="wp-content/uploads/2018/10/team-2-55x55.jpg" alt="team-2" class="img-fluid">
                              </div>
                              <div class="media-body align-self-center">
                                <h4 class="commentor-title">Joe D Walczak</h4>
                                <p class="commentor-info">CEO, Pranklin Agency</p>
                                <i class="icon icon-quote"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Testimonial Content End -->
                        <div class="xs-testimonial-item">
                          <div class="testimonial-content">
                            <p>Our best-in-class WordPress solution with additio nal
                              optiz ation to make an running a WooCommerce</p>
                            <div class="commentor-bio media">
                              <div class="d-flex round-avatar">
                                <img src="wp-content/uploads/2018/10/team-4-55x55.jpg" alt="team-4" class="img-fluid">
                              </div>
                              <div class="media-body align-self-center">
                                <h4 class="commentor-title">Joe D Walczak</h4>
                                <p class="commentor-info">CEO, Pranklin Agency</p>
                                <i class="icon icon-quote"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Testimonial Content End -->

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section data-id="7280859"
        class="elementor-element elementor-element-7280859 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
        data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-row">
            <div data-id="b5995db"
              class="elementor-element elementor-element-b5995db elementor-column elementor-col-100 elementor-top-column"
              data-element_type="column">
              <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                  <div data-id="4b5bc17"
                    class="elementor-element elementor-element-4b5bc17 elementor-widget elementor-widget-xs-heading"
                    data-element_type="xs-heading.default">
                    <div class="elementor-widget-container">
                      <div class="xs-heading">
                        <h3 class="heading-sub-title">Latest Info</h3>
                        <h2 class="heading-title">GET <span>LATEST INFO</span></h2>
                      </div>
                    </div>
                  </div>
                  <div data-id="203e373"
                    class="elementor-element elementor-element-203e373 elementor-widget elementor-widget-xs-blog"
                    data-element_type="xs-blog.default">
                    <div class="elementor-widget-container">
                      <div class="row xs-blog-grid">
                        <div class="col-md-6 col-lg-4">
                          <div class="xs-blog-post">
                            <div class="post-image">
                              <img src="wp-content/uploads/2018/10/blogs-7-354x217.jpg"
                                alt="Life won’t one beast air over above all">
                            </div>
                            <div class="entry-header">
                              <div class="post-meta">
                                <a href="category/uncategorized/index.html" rel="category tag">Uncategorized</a> </div>
                              <h2 class="entry-title"><a
                                  href="2018/10/02/life-wont-one-beast-air-over-above-all/index.html">Life
                                  won’t one beast air over above all</a></h2>
                              <div class="entry-meta">
                                <span class="meta-date">October 2, 2018</span>
                              </div>
                            </div><!-- .entry-header END -->
                          </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                          <div class="xs-blog-post">
                            <div class="post-image">
                              <img src="wp-content/uploads/2018/10/blogs-8-354x217.jpg"
                                alt="Best domain name for Business">
                            </div>
                            <div class="entry-header">
                              <div class="post-meta">
                                <a href="category/uncategorized/index.html" rel="category tag">Uncategorized</a> </div>
                              <h2 class="entry-title"><a href="2018/10/02/best-domain-name-for-business/index.html">Best
                                  domain name for Business</a></h2>
                              <div class="entry-meta">
                                <span class="meta-date">October 2, 2018</span>
                              </div>
                            </div><!-- .entry-header END -->
                          </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                          <div class="xs-blog-post">
                            <div class="post-image">
                              <img src="wp-content/uploads/2018/10/blogs-9-354x217.jpg"
                                alt="Best reseller hosting for start business">
                            </div>
                            <div class="entry-header">
                              <div class="post-meta">
                                <a href="category/uncategorized/index.html" rel="category tag">Uncategorized</a> </div>
                              <h2 class="entry-title"><a
                                  href="2018/10/02/best-reseller-hosting-for-start-business/index.html">Best
                                  reseller hosting for start business</a></h2>
                              <div class="entry-meta">
                                <span class="meta-date">October 2, 2018</span>
                              </div>
                            </div><!-- .entry-header END -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<%- include('partials/footer.ejs') %>